/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: none; /*inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

* {
  background-color: black;
  color: white;
  border-width: 0;
}

select,
input,
button {
  background-color: #292929;
  height: 30px;
  margin: 5px;
  padding: 0px 10px;
  font-size: 0.7em;
  border-radius: 6px;
}

button {
  text-transform: uppercase !important;
}

.title-card {
  text-transform: uppercase;
  font-size: 0.65em;
  color: #c2c2c2;
}

.card-body {
  padding: 0.5em !important;
}

.card-title {
  border-radius: 6px;
}
.grid {
  stroke: "lightgray";
  stroke-opacity: 0.3;
  :first-child {
    stroke-width: 3;
  }
  g:not(:first-child) {
    stroke-dasharray: 1 5;
  }
}
